@layer cascade.component {
  .root {
    position: relative;
    inline-size: 100%;
    aspect-ratio: var(--cascivo-aspect-ratio, 1);
  }

  .inner {
    position: absolute;
    inset: 0;
    inline-size: 100%;
    block-size: 100%;

    & > * {
      inline-size: 100%;
      block-size: 100%;
      object-fit: cover;
    }
  }
}
