@layer cascade.component {
  .code {
    font-family: var(--cascade-font-mono);
    color: var(--cascade-color-text);
    background-color: var(--cascade-color-surface);
    border: 1px solid var(--cascade-color-border);
    border-radius: var(--cascade-radius-indicator);
    padding-block: 0.0625rem;
    padding-inline: var(--cascade-space-1);
    white-space: nowrap;

    &[data-size='sm'] {
      font-size: var(--cascade-text-xs);
    }

    &[data-size='md'] {
      font-size: var(--cascade-text-sm);
    }
  }
}
